//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

img {
  max-width: 100%;
  margin-bottom: 3rem;
  border: 10px solid white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: rotate(3deg);
}
